In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [4]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [6]:
for num in mylist:               #this_is_for_how_to_print_even_numbers
    if num % 2 == 0:            #this_means_any_number_when_divided_by_2_leaves_the_remainder_0
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [10]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

print(list_sum)

55

In [11]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num

    print(list_sum)      #indentation_is_necessary

1
3
6
10
15
21
28
36
45
55

In [13]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [14]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [17]:
len(mylist)

4

In [18]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [19]:
for (a,b) in mylist:      #THIS_IS_TUPLE_UNPACKING
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [20]:
for a,b in mylist:       #THIS_IS_ALSO_TUPLE_UNPACKING
    print(b)

2
4
6
8

In [21]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [22]:
for a,b,c in mylist:
    print(c)

3
7
10

In [23]:
d = {'k1':1, 'k2':2, 'k3':3}

In [24]:
for item in d:
    print(item)

k1
k2
k3

In [25]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [26]:
for a,b in d.items():
    print(b)
    print(a)

1
k1
2
k2
3
k3

In [27]:
for key,value in d.items():
    print(value)

1
2
3

In [29]:
for value in d.values():
    print(value)

1
2
3