In [1]:
mystring = 'hello'

In [3]:
mylist = []

for letters in mystring:
    mylist.append(letters)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o']

In [5]:
mylist = [letter for letter in mystring]

In [6]:
mylist

['h', 'e', 'l', 'l', 'o']

In [7]:
mylist = [x for x in 'word']

In [8]:
mylist

['w', 'o', 'r', 'd']

In [9]:
mylist = [qweqwe for qweqwe in 'important']

In [10]:
mylist

['i', 'm', 'p', 'o', 'r', 't', 'a', 'n', 't']

In [11]:
mylist = [x for x in range(0,11)]

In [12]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
mylist = [num**2 for num in range(0,11)]

In [14]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
mylist = [x for x in range(0,11) if x%2==0]

In [16]:
mylist

[0, 2, 4, 6, 8, 10]

In [17]:
mylist = [x**2 for x in range(0,11) if x%2==0]

In [18]:
mylist

[0, 4, 16, 36, 64, 100]

In [19]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)* temp + 32) for temp in celcius]

In [20]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [21]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)* temp + 32))

In [22]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [24]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [25]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [26]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [27]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [28]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [29]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]