In [1]:
name = "Sam"

In [2]:
name[0] = 'P'  #if you want to change Sam to Pam, you cannot do this

SyntaxError: invalid syntax (827676995.py, line 1)

In [3]:
# name[0] = 'P'

In [4]:
name[1:]

'am'

In [5]:
last_letters = name[1:]

In [6]:
last_letters

'am'

In [7]:
'P' + last_letters

'Pam'

In [8]:
x = 'Hello World'

In [9]:
x + "it is beautiful outside"

'Hello Worldit is beautiful outside'

In [ ]:
x + " it is beautiful outside"

'Hello World it is beautiful outside'

In [25]:
x = x + " it is beautiful outside"

In [28]:
letter = 'z'

In [29]:
letter * 10

'zzzzzzzzzz'

In [30]:
2 + 3

5

In [31]:
'2' + '3'

'23'

In [32]:
x = "Hello World"

In [33]:
x.upper()

'HELLO WORLD'

In [34]:
x.lower()

'hello world'

In [35]:
x.split()

['Hello', 'World']

In [36]:
x = 'Hi this is a string'

In [38]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [40]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

In [41]:
x.split('s')

['Hi thi', ' i', ' a ', 'tring']