In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
t

(1, 2, 3)

In [7]:
t = ('one', 2)

In [8]:
t[0]

'one'

In [9]:
t [-1]

2

In [10]:
t = ('a','a','b')

In [11]:
t.count('a')

2

In [12]:
t.index('a')

0

In [13]:
t.index('b')

2

In [14]:
t

('a', 'a', 'b')

In [15]:
mylist

[1, 2, 3]

In [16]:
mylist[0] = 'NEW'

In [17]:
mylist

['NEW', 2, 3]

In [18]:
t[0] = 'NEW'         #tuples_are_immutable_meaning_it_cannot_be_changed

TypeError: 'tuple' object does not support item assignment